@font-face {
    font-family: "DrukCyr";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/DrukCyr-Medium.woff2") format("woff2"),
         url("../fonts/DrukCyr-Medium.woff") format("woff"),
         url("../fonts/DrukCyr-Medium.ttf") format("truetype");
    font-display: swap;
  }
  
  @font-face {
    font-family: "drukwidecyr";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/drukwidecyr-medium.woff2") format("woff2"),
         url("../fonts/drukwidecyr-medium.woff") format("woff"),
         url("../fonts/drukwidecyr-medium.eot") format("embedded-opentype");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
         url("../fonts/Montserrat-Bold.woff") format("woff");
    font-display: swap;
  }
  
  @font-face {
    font-family: "NunitoSans";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/NunitoSans-Black.woff2") format("woff2"),
         url("../fonts/NunitoSans-Black.woff") format("woff");
    font-display: swap;
  }
  
  @font-face {
    font-family: "NunitoSans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NunitoSans-Bold.woff2") format("woff2"),
         url("../fonts/NunitoSans-Bold.woff") format("woff");
    font-display: swap;
  }
  
  @font-face {
    font-family: "NunitoSans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
         url("../fonts/NunitoSans-Light.woff") format("woff");
    font-display: swap;
  }
  
  @font-face {
    font-family: "NunitoSans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
         url("../fonts/NunitoSans-Regular.woff") format("woff");
    font-display: swap;
  }