body {
  margin: 0;
  font-family: "NunitoSans", Courier, monospace;
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding: 0 112px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    padding: 0 81px;
  }
  @media (max-width: 768px) {
    padding: 0 28px;
  }
  @media (max-width: 375px) {
    padding: 0 16px;
  }
}
