// colors
$color_pink: #f269af;
$color_green: #ABEC20;
$color_purple: #A66EFF;
$color_purple_dark: #5834a4;
$color_blue: #0267FF;
$color_black: #000000;
$linear_purple: linear-gradient(227.56deg,
#fdf398 -0.59%,
#f7be87 22.84%,
#e5637d 45.63%,
#e84bba 65.89%,
#9310d8 99.13%);